.blue {
  border: 1px solid green; }

.bar {
  display: inline-block;
  width: 20px;
  margin-right: 4px;
  height: 50px;
  background-color: teal; }

.label {
  transform: rotate(90deg);
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 20px; }

.the-data {
  white-space: nowrap;
  display: flex;
  align-items: flex-end; }

.data-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px; }

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: black;
  color: white;
  border: 0px;
  pointer-events: none; }

.subunit-California {
  fill: #ddc; }

.subunit-SOME_POINT {
  fill: red; }
